// SLIDER BUTTON
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 42px;
  line-height: 1;
  opacity: 1;
  color: #ffc107;
  -webkit-font-smoothing: antialiased;
}
.slick-prev {
  left: -50px;
}
// LINK BUTTON
.btn-1 {
  font-weight: bold;
  border-radius: 35px;
  font-size: 24px;
  font-family: googleSansBold, sans-serif;
  padding: 5px 30px;
  background-image: linear-gradient(
    -90deg,
    rgb(255, 200, 0) 0%,
    rgb(255, 234, 0) 100%
  );
  border: none;
  color: $black-color;
  transition: all 0.3s linear;
  &:hover {
    color: $gray-white-bg;

    background-image: linear-gradient(
      -90deg,
      rgb(255, 200, 0) 100%,
      rgb(255, 234, 0) 200%
    );
  }
} //NAV Button
.btn-course.active {
  background-color: $btn-yellow !important;
  font-family: googleSansBold, googleSans;
}
//TEST button
.btn-course-nav {
  background-color: $orange-tag-color;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0px 15px;
  cursor: pointer;
  @include txtStyle(22px, normal, $white-color);
  text-decoration: none;
  transition: all 0.2s linear;
  &:hover {
    background-color: $white-color;
    border: 1px solid $orange-tag-color;
    color: $orange-tag-color;
  }
}
// Register btn
.btn-register {
  @extend .btn-course-nav;
  background: $span-yellow;
  color: $black-color;
  padding: 0px 30px;
  &:hover {
    background-color: $white-color;
    border: 1px solid $span-yellow;
    color: $span-yellow;
  }
}
//Feedback btn
.btn-feedback {
  display: inline-block;
  text-decoration: none;
  @include txtStyle(14px, normal, $orange-btn-color);
  border: 2px solid $orange-btn-color;
  border-radius: 20px;
  padding: 0px 20px;
  margin: 15px 0;
  transition: all 0.3s linear;
  &:hover {
    color: $white-color;
    background: $orange-btn-color;
  }
}
