section.form {
  padding-top: 60px;
  @include innerBackground("../img/bg-gradient-yellow.png", center, cover, 1);
  .form__container {
    max-width: 1300px;
    margin: 0 auto;
    .form__box {
      margin-top: 20px;
      border-radius: 20px;
      height: 360px;
    }
    .form__left {
      background: $form-yellow;
      z-index: 20;
      padding: 20px 30px 10px 30px;
      max-width: 525px;

      form {
        .form-control,
        .form-select {
          font-size: 18px;
          border: none;
          &::placeholder {
            font-style: italic;
          }
        }
        input,
        select {
          margin-bottom: 15px;
          border-radius: 10px;
        }
        button {
          padding: 10px 30px;
          border-radius: 10px;
          @include txtStyle(18px, normal, $white-color);
        }
      }
    }
    .form__right {
      @include innerBackground("../img/form-right-bg.png", center, cover, 1);
      margin-left: -60px;
      position: relative;
      .form__box-txt {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $white-color;
        margin-left: 30px;
        hr {
          width: 50%;
        }
        p.form__box-title {
          margin-bottom: 0 !important;
          @include txtStyle(20px, normal, $white-color);
          font-family: googleSans;
        }
        p {
          font-size: 40px;
          font-family: googleSansBold, serif;
        }
        span {
          line-height: 0.5;
        }
        hr {
          border: 1px solid $icon-yellow;
          opacity: 1;
          margin-top: 5px !important ;
        }
        .form__hotline {
          img {
            width: 60px;
          }
        }
      }
    }
  }
}
@include responsive("large") {
  section.form {
    .form__container {
      width: 100% !important;

      .form__right {
        margin-left: 0;
        width: 100%;
        max-width: 525px;
        .form__box-txt {
          margin-left: 0;
        }
      }
    }
  }
}
@include responsive("medium") {
  section.form {
    .form__container {
      width: 100% !important;

      .form__left {
        width: 70%;
        max-width: none;
      }
      .form__right {
        margin-left: 0;
        width: 70%;
        .form__box-txt {
          margin-left: 0;
        }
      }
    }
  }
}
@include responsive("small") {
  section.form {
    .form__title {
      width: 90%;
      margin: 0 auto;
    }
    .form__container {
      .form__box {
        width: 90%;
      }
      .form__right {
        .form__box-txt {
          width: 80%;
          margin-left: 0 !important;
          .form__hotline {
            display: block !important;
            img {
              display: none;
            }
            .ms-2 {
              margin-left: 0 !important;
            }
            p {
              font-size: 30px !important;
            }
          }
        }
      }
    }
  }
}
