body {
  font-size: 16;
}

@font-face {
  font-family: googleSans;
  src: url("../fonts/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: googleSansBold;
  src: url("../fonts/GoogleSans-Bold.ttf");
}
@font-face {
  font-family: beVnItalic;
  src: url("../fonts/BeVietnamPro-Italic.ttf");
}
body {
  font-family: googleSans, sans-serif;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 42px;
  line-height: 1;
  opacity: 1;
  color: #ffc107;
  -webkit-font-smoothing: antialiased;
}

.slick-prev {
  left: -50px;
}

.btn-1 {
  font-weight: bold;
  border-radius: 35px;
  font-size: 24px;
  font-family: googleSansBold, sans-serif;
  padding: 5px 30px;
  background-image: linear-gradient(-90deg, rgb(255, 200, 0) 0%, rgb(255, 234, 0) 100%);
  border: none;
}

.btn-course.active {
  background-color: #fedc00 !important;
  font-family: googleSansBold, googleSans;
}

.btn-course-nav, .btn-register {
  background-color: rgb(255, 90, 0);
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 0px 26px;
  cursor: pointer;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
}
.btn-course-nav:hover, .btn-register:hover {
  background-color: #fff;
  border: 1px solid rgb(255, 90, 0);
  color: rgb(255, 90, 0);
}

.btn-register {
  background: #ffcc00;
  color: #000000;
  padding: 0px 30px;
}
.btn-register:hover {
  background-color: #fff;
  border: 1px solid #ffcc00;
  color: #ffcc00;
}

.btn-feedback {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color: rgb(255, 90, 0);
  border: 2px solid rgb(255, 90, 0);
  border-radius: 20px;
  padding: 0px 20px;
  margin: 15px 0;
  transition: all 0.3s linear;
}
.btn-feedback:hover {
  color: #fff;
  background: rgb(255, 90, 0);
}

.nav-item {
  margin: 0 15px !important;
}
.nav-item a {
  color: #fff !important;
}
.nav-item a.dropdown-item {
  color: #fff !important;
  margin: 5px 0;
  padding: 0 15px !important;
  opacity: 1;
  font-size: 18px !important;
}
.nav-item a.dropdown-item::after {
  content: "";
  display: none !important;
}

.dropdown-menu.show {
  background: rgba(255, 255, 255, 0.145);
  opacity: 1;
  margin-top: 10px;
}

header {
  position: relative;
}
header .header__top {
  background-image: linear-gradient(90deg, rgb(255, 200, 0) 0%, rgb(255, 234, 0) 100%);
  width: 100%;
}
header .header__top .header__contact {
  max-width: 1300px;
}
header .header__top .header__contact .header__contact-left a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 5px;
}
header .header__top .header__contact .header__contact-right img {
  transition: all 0.3s linear;
}
header .header__top .header__contact .header__contact-right img:hover {
  filter: brightness(10);
}
header .header__mid {
  background-image: url("../img/index/bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
  z-index: 10;
}
header .header__mid .header__nav .navbar .container-fluid {
  padding: 0;
}
header .header__mid .header__nav .navbar .navbar-brand {
  color: #ffde00 !important;
  font-size: 50px;
  font-family: googleSansBold;
}
header .header__mid .header__nav .navbar #navbarNav ul li a {
  font-size: 20px;
  padding: 0;
  font-family: googleSans;
}
header .header__mid .header__nav .navbar #navbarNav ul li a:hover {
  color: #ffc901 !important;
}
header .header__mid .header__nav .navbar #navbarNav ul li a:hover::after {
  width: 100%;
}
header .header__mid .header__nav .navbar #navbarNav ul li a::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ffc901;
  width: 0%;
  transition: all 0.3s linear;
}
header .header__mid .header__nav .navbar #navbarNav .nav-link.active {
  color: #ffc901 !important;
}
header .header__mid .header__nav .navbar #navbarNav .nav-link.active::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ffc901;
  width: 100%;
}
header .header__mid .header__form {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 70px;
}
header .header__mid .header__form .header__form-text-box {
  margin-top: 180px;
}
header .header__mid .header__form p.header__title {
  font-size: 50px;
  font-weight: bold;
  color: #ffde00;
  font-family: googleSansBold, sans-serif;
  line-height: 1;
}
header .header__mid .header__form span {
  font-size: 30px;
  font-weight: normal;
  color: #ffde00;
  font-family: bevnItalic, sans-serif;
  line-height: 1;
}
header .header__mid .header__form p.header__info {
  margin-top: 60px;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  padding: 0 180px;
  font-family: googleSans;
  margin-bottom: 27px;
}
header .header__mid .header__form .header__form-input {
  padding: 0 200px;
}
header .header__mid .header__form .header__form-input input {
  margin: 20px 0;
}
header .header__mid .header__box {
  max-width: 900px;
  width: 75%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
header .header__mid .header__box .box-bg {
  padding: 0 5px !important;
}
header .header__mid .header__box .box-bg p {
  margin-bottom: 0;
}
header .header__mid .header__box .header__box-item {
  position: relative;
  padding: 30px 12px 10px 12px;
  border-radius: 20px;
}
header .header__mid .header__box .header__box-item span.float-icon {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header.header__teacher .header__form {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 70px;
}
header.header__teacher .header__form .header__form-text-box {
  margin-top: 180px;
}
header.header__teacher .header__form p.header__title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  font-family: googleSans, sans-serif;
  line-height: 1;
}
header.header__teacher .header__form span {
  font-size: 60px;
  font-weight: normal;
  color: #ffde00;
  font-family: googleSans, sans-serif;
  line-height: 1;
}
header.header__teacher .header__form p.header__info {
  margin-top: 60px;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  padding: 0 70px;
  font-family: googleSans;
  margin-bottom: 27px;
}
header.header__teacher .header__form .header__form-input {
  padding: 0 200px;
}
header.header__teacher .header__form .header__form-input input {
  margin: 20px 0;
}

header.header__courses .header__mid {
  background-image: url("../img/courses/course-bg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 100px;
  z-index: 10;
}
header.header__courses .header__form {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 70px;
}
header.header__courses .header__form .header__form-text-box {
  margin-top: 180px;
}
header.header__courses .header__form p.header__title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  font-family: googleSans, sans-serif;
  line-height: 1;
}
header.header__courses .header__form span {
  font-size: 60px;
  font-weight: normal;
  color: #ffde00;
  font-family: googleSans, sans-serif;
  line-height: 1;
}
header.header__courses .header__form p.header__info {
  margin-top: 60px;
  font-size: 26px;
  font-weight: normal;
  color: #fff;
  padding: 0 45px;
  font-family: googleSans;
  margin-bottom: 27px;
}
header.header__courses .header__form .header__form-input {
  padding: 0 200px;
}
header.header__courses .header__form .header__form-input input {
  margin: 20px 0;
}

section.form {
  padding-top: 60px;
  background-image: url("../img/bg-gradient-yellow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.form .form__box {
  margin-top: 20px;
  border-radius: 20px;
  height: 380px;
}
section.form .form__left {
  background: #ffed25;
  z-index: 20;
  padding: 20px 30px 10px 30px;
  max-width: 525px;
}
section.form .form__left form .form-control,
section.form .form__left form .form-select {
  font-size: 20px;
  border: none;
}
section.form .form__left form .form-control::-moz-placeholder, section.form .form__left form .form-select::-moz-placeholder {
  font-style: italic;
}
section.form .form__left form .form-control:-ms-input-placeholder, section.form .form__left form .form-select:-ms-input-placeholder {
  font-style: italic;
}
section.form .form__left form .form-control::placeholder,
section.form .form__left form .form-select::placeholder {
  font-style: italic;
}
section.form .form__left form input,
section.form .form__left form select {
  margin-bottom: 15px;
  border-radius: 10px;
}
section.form .form__left form button {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}
section.form .form__right {
  background-image: url("../img/form-right-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -60px;
  width: 525px;
}
section.form .form__right .form__box-txt {
  color: #fff;
  margin-left: 70px;
  left: 21%;
  top: 32%;
}
section.form .form__right .form__box-txt hr {
  width: 50%;
}
section.form .form__right .form__box-txt p.form__box-title {
  margin-bottom: 0 !important;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  font-family: googleSans;
}
section.form .form__right .form__box-txt p {
  font-size: 50px;
  font-family: googleSansBold, serif;
}
section.form .form__right .form__box-txt span {
  line-height: 0.5;
}
section.form .form__right .form__box-txt hr {
  border: 1px solid #ffd400;
  opacity: 1;
  margin-top: 5px !important;
}

section.why {
  padding-bottom: 140px;
}
section.why .why__title {
  padding-top: 80px;
}
section.why .why__title h1 {
  color: #ffd400;
}
section.why .why__grid {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 70px;
}
section.why .why__grid .why__row .why__item {
  margin-bottom: 30px;
}
section.why .why__grid .why__row .why__item .why__txt {
  margin-left: 20px;
}
section.why .why__grid .why__row .why__item .why__txt h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  font-family: googleSansBold;
  margin-bottom: 5px !important;
}
section.why .why__grid .why__row .why__item .why__txt p {
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  margin-bottom: 0;
  line-height: 1.5;
}

section.video {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff3ea;
}
section.video .video__wrap {
  text-align: center;
}
section.video .video__wrap .video__title h1 {
  color: #ff5a00;
}
section.video .video__wrap .video__frame {
  margin-top: 15px;
  border-radius: 30px;
}
section.video .video__wrap p {
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  margin-top: 25px;
  line-height: 1;
}

.title {
  text-align: center;
}
.title h1 {
  font-size: 40px;
  font-family: googleSansBold, serif;
}
.title h3 {
  font-size: 30px;
}
.title hr.first-hr {
  width: 20%;
  margin: 10px auto;
}
.title hr.snd-hr {
  width: 10%;
  margin: 10px auto;
}

section.number {
  background-image: url("../img/index/bg-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.number .number__wrap .number__title {
  padding-top: 80px;
}
section.number .number__wrap .number__title h3 {
  color: #000000;
}
section.number .number__wrap .number__title h1 {
  font-size: 45px;
  font-weight: normal;
  color: #000000;
  font-family: googleSansBold, serif;
}
section.number .number__wrap .number__title hr {
  color: #000000;
  opacity: 0.4;
}
section.number .number__wrap .number__box {
  max-width: 1200px;
  padding-bottom: 40px;
  margin-top: 40px !important;
}
section.number .number__wrap .number__box .number__item .number__item-num {
  display: inline-block;
  width: 160px;
  border-radius: 10px;
  background-color: #000000;
  color: #ffc901 !important;
  margin-bottom: 5px !important;
  font-size: 38px;
  font-weight: "";
  color: #ffe600;
  font-family: googleSansBold, serif;
}
section.number .number__wrap .number__box .number__item .number__item-txt {
  font-size: 24px;
  font-weight: "";
  color: #000000;
  line-height: 1.2;
  padding: 0 40px;
}
section.number .number__wrap .number__box .number__item:last-child {
  border: none;
}

section.course {
  padding-top: 50px;
  padding-bottom: 90px;
}
section.course .course__wrap .course__title h3 {
  color: #000000;
}
section.course .course__wrap .course__title h1 {
  color: #ffd400;
  font-family: googleSansBold, serif;
}
section.course .course__wrap .course__description {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}
section.course .course__wrap .course__description .btn-course {
  position: relative;
  margin: 20px 0;
  border: #fedc00 1px solid;
  border-radius: 40px;
  color: #000000;
  width: 356px;
  font-size: 28px;
  z-index: 10;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
}
section.course .course__wrap .course__description span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 210px;
  text-align: center;
  background-color: rgb(255, 90, 0);
  border-radius: 15px;
  padding: 40px 20px 0 20px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  z-index: 1;
}
section.course .course__wrap .course__description .tab-pane {
  margin-top: 70px;
}
section.course .course__wrap .course__description .tab-pane h3 {
  margin-top: 10px;
  font-size: 32px;
  font-weight: normal;
  color: #000000;
  font-family: googleSansBold, serif;
}
section.course .course__wrap .course__description .tab-pane p {
  text-align: justify;
  font-size: 23px;
  font-weight: normal;
  color: #000000;
  font-family: googleSans, serif;
}
section.course .course__wrap .course__description .tab-pane .course__img {
  border-radius: 30px;
}
section.course .course__wrap .course__description .tab-pane img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 460px;
}

section.student {
  padding-top: 90px;
  padding-bottom: 60px;
  background: #fbfbfb;
}
section.student .student__wrap .student__title h3 {
  color: #000000;
}
section.student .student__wrap .student__title h1 {
  color: #ffd400;
}
section.student .student__wrap .student__title p {
  background: #000000;
  display: inline;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  padding: 5px 30px;
  border-radius: 30px;
}
section.student .student__wrap .student__title p span {
  color: #ffcc00 !important;
}
section.student .student__wrap .student__slider {
  margin-top: 30px !important;
}
section.student .student__wrap .student__slider .student__slider-box .slick-track {
  padding-top: 10px;
}
section.student .student__wrap .student__slider .student__slider-box .slick-slide {
  margin: 0 10px;
}
section.student .student__wrap .student__slider .student__slider-box img {
  border-radius: 20px;
  border: 5px solid #fff;
  filter: drop-shadow(0 0 4px black);
}

section.student.course-page {
  margin-top: 50px;
  background-image: url("../img/courses/course-bg-student.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.blog {
  padding: 95px 0;
  background: #fbfbfb;
}
section.blog .blog__wrap {
  width: 75%;
  margin: auto;
}
section.blog .blog__wrap .blog__title h1 {
  color: #ffcc00;
}
section.blog .blog__wrap .blog__container {
  margin-top: 65px;
}
section.blog .blog__wrap .blog__container .blog__left h4 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffd400;
}
section.blog .blog__wrap .blog__container .blog__left p {
  font-size: 16;
}
section.blog .blog__wrap .blog__container .blog__right .blog__sub {
  overflow: hidden;
}
section.blog .blog__wrap .blog__container .blog__right .blog__sub .blog__sub-text {
  padding: 15px;
  height: 120px;
}
section.blog .blog__wrap .blog__container .blog__right .blog__sub .blog__sub-img img {
  display: block;
  width: 120px;
}
section.blog .blog__wrap .blog__container .blog__right .blog__sub h4 {
  margin: 0 !important;
  font-size: 18px;
  font-weight: bold;
  color: #ffd400;
}
section.blog .blog__wrap .blog__container .blog__right .blog__sub p {
  font-size: 14;
  text-align: justify;
  margin: 0 !important;
}

section.testi {
  padding-top: 30px;
  background-color: #fff3ea;
}
section.testi .testi__title h1 {
  color: #ffd400;
}
section.testi .testi__slider-wrap {
  padding-bottom: 50px;
  min-width: 1000px;
}
section.testi .testi__slider-wrap .testi__slider {
  margin-top: 30px;
}
section.testi .testi__slider-wrap .testi__slider .slick-slide {
  margin: 0 5px;
}
section.testi .testi__slider-wrap .testi__slider .testi__item img {
  display: block;
  border: 10px solid #fff;
  border-radius: 50%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: -90px;
}
section.testi .testi__slider-wrap .testi__slider .testi__item .testi__text {
  text-align: justify;
  background-color: #fff;
  border-radius: 20px;
  padding: 90px 20px 30px 20px;
  z-index: 10;
}
section.testi .testi__slider-wrap .testi__slider .testi__item .testi__text h5 {
  font-weight: bold;
  text-align: right;
}
section.testi .testi__slider-wrap .testi__slider .testi__item .testi__text p:last-child {
  color: #ffd400;
  text-align: end;
  margin-bottom: 0 !important;
}

section.teacher .teacher__slider {
  width: 85%;
  max-width: 1300px;
  margin: -115px auto 0 auto;
  padding: 30px;
  background: #fff;
  border-radius: 30px;
  z-index: 100;
  position: relative;
}
section.teacher .teacher__slider .teacher__slider-left .slider-left-img img {
  width: 32%;
  border-radius: 30px;
}
section.teacher .teacher__slider .teacher__slider-left h3 {
  font-size: 36px;
  font-weight: normal;
  color: #ff6000;
  font-family: googleSansBold, serif;
}
section.teacher .teacher__slider .teacher__slider-left p {
  margin: 30px 0;
}
section.teacher .teacher__slider .teacher__slider-right img {
  height: 375px;
  width: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.teacher .teacher__slider .teacher__slider-right .slick-dots li button:before {
  font-size: 14px;
  color: #000000;
  opacity: 0.2;
}
section.teacher .teacher__slider .teacher__slider-right .slick-dots li button:hover,
section.teacher .teacher__slider .teacher__slider-right .slick-dots li button:focus {
  color: #000000;
  opacity: 0.7;
}
section.teacher .teacher__slider .teacher__slider-right .slick-dots li.slick-active button:before {
  color: #000000;
  opacity: 0.7;
}
section.teacher .teacher__info {
  width: 85%;
  margin: 0 auto;
  max-width: 1300px;
}
section.teacher .teacher__info .teacher__item {
  max-width: 1300px;
  margin: 25px auto;
}
section.teacher .teacher__info .teacher__item .teacher__img img {
  width: 100%;
  border-radius: 30px;
}
section.teacher .teacher__info .teacher__item .teacher__personal p {
  margin-bottom: 0;
  font-family: googleSansBold, serif;
}
section.teacher .teacher__info .teacher__item .teacher__personal .teacher__name p {
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  color: #ffde02;
  background: #000000;
  padding: 0 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}
section.teacher .teacher__info .teacher__item .teacher__personal .teacher__name h6 {
  font-size: 16px;
  font-weight: normal;
  color: #ff5a00;
  font-family: googleSansBold, serif;
  margin: 10px 0 10px 20px;
}
section.teacher .teacher__info .teacher__item .teacher__personal .teacher__exp {
  margin-left: 20px;
}
section.teacher .teacher__title {
  margin-top: 80px;
}

section.problem {
  padding-top: 100px;
}
section.problem .problem__title {
  margin-bottom: 50px;
}
section.problem .problem__title h1 {
  color: #ffd400;
}
section.problem .problem__container {
  width: 85%;
  margin: 0 auto;
}
section.problem .problem__container .problem__left img {
  height: 100%;
  width: 100%;
}
section.problem .problem__container .problem__right {
  gap: 15px;
}
section.problem .problem__container .problem__right .problem__right-item {
  padding: 5px;
  border-radius: 20px;
}
section.problem .problem__container .problem__right .problem__right-item .problem__right-img {
  padding: 15px;
}
section.problem .problem__container .problem__right .problem__right-item .problem__right-img img {
  display: block;
}
section.problem .problem__container .problem__right .problem__right-item .problem__right-text h4 {
  margin-bottom: 0;
}
section.problem .problem__container .problem__right .problem__right-item .problem__right-text p {
  margin-bottom: 0;
}

section.help {
  padding-top: 100px;
}
section.help .help__title {
  margin-bottom: 60px;
}
section.help .help__title h1 {
  color: #ffd400;
}
section.help .help__content {
  max-width: 1300px;
  width: 85%;
  margin: 0 auto;
}
section.help .help__content .help__content-container .help__item .help__img {
  position: relative;
}
section.help .help__content .help__content-container .help__item .help__img img {
  width: 100%;
}
section.help .help__content .help__content-container .help__item .help__txt {
  width: 75%;
  position: absolute;
  left: 130px;
  top: 50%;
  transform: translateY(-50%);
}
section.help .help__content .help__content-container .help__item .help__txt p {
  margin-bottom: 0;
}

footer {
  background-image: url("../img/footer-thumb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}
footer .footer__wrap {
  max-width: 1300px;
  margin: 0 auto;
}
footer .footer__wrap .footer__left h3 {
  font-size: 36px;
  font-weight: normal;
  color: #ffd400;
  font-family: googleSansBold, serif;
  margin-bottom: 0;
}
footer .footer__wrap .footer__left p {
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  font-family: googleSans, serif;
  margin-bottom: 0;
}
footer .footer__wrap .footer__left hr {
  border: 1px dashed #fff;
  opacity: 1;
  margin: 15px 0;
  width: 80%;
}
footer .footer__wrap .footer__left ul li {
  margin: 5px 0;
  font-size: 20px;
  font-weight: normal;
  color: #ffd400;
}
footer .footer__wrap .footer__left ul li span,
footer .footer__wrap .footer__left ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
footer .footer__wrap .footer__right .footer__contact-right {
  margin-top: 30px;
}
footer .footer__wrap .footer__right .footer__contact-right span {
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  margin-right: 10px;
}
footer .footer__wrap .footer__right .footer__contact-right a {
  margin-right: 5px;
}
footer .footer__wrap .footer__right .footer__contact-right img {
  -webkit-filter: brightness(10);
  -webkit-transition: all 0.3s linear;
}
footer .footer__wrap .footer__right .footer__contact-right img:hover {
  -webkit-filter: invert(65%) sepia(99%) saturate(1167%) hue-rotate(4deg) brightness(109%) contrast(109%);
}

.footer__copy {
  background: #000000;
  font-size: 18px;
  font-weight: normal;
  color: #ffcc00;
  padding: 10px 0;
}/*# sourceMappingURL=style.css.map */