section.blog {
  padding: 95px 0;
  background: $gray-white-bg;
  .blog__wrap {
    width: 75%;
    max-width: 1300px;
    margin: auto;
    .blog__title {
      h1 {
        color: $span-yellow;
      }
    }
    .blog__container {
      margin-top: 65px;
      .blog__left {
        h4 {
          margin-top: 10px;
          font-size: 18px;
          font-weight: bold;
          color: $txt-dimmer-yellow;
        }

        p {
          font-size: 16;
        }
      }
      .blog__right {
        .blog__sub {
          overflow: hidden;
          .blog__sub-text {
            padding: 15px;
            height: 120px;
          }
          .blog__sub-img img {
            display: block;
            width: 120px;
          }
          h4 {
            margin: 0 !important;
            font-size: 18px;
            font-weight: bold;
            color: $txt-dimmer-yellow;
          }
          p {
            font-size: 14;
            text-align: justify;
            margin: 0 !important;
          }
        }
      }
    }
  }
}
@include responsive("medium") {
  .blog__right {
    margin-top: 20px;
    gap: 15px;
  }
}
@include responsive("small") {
  section.blog {
    .blog__wrap {
      width: 90%;
      margin: 0 auto;
      .blog__container {
        .blog__right {
          .blog__sub {
            .blog__sub-text {
              h4 {
                font-size: 16px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
