footer {
  @include innerBackground("../img/footer-thumb.png", center, cover, 1);

  padding: 60px 0;
  .footer__wrap {
    max-width: 1300px;
    margin: 0 auto;
    .footer__left {
      h3 {
        @include txtStyle(36px, normal, $icon-yellow);
        font-family: googleSansBold, serif;
        margin-bottom: 0;
      }
      p {
        @include txtStyle(30px, normal, $white-color);
        font-family: googleSans, serif;
        margin-bottom: 0;
      }
      hr {
        border: 1px dashed $white-color;
        opacity: 1;
        margin: 15px 0;
        width: 80%;
      }
      ul {
        li {
          margin: 5px 0;
          @include txtStyle(20px, normal, $icon-yellow);
          span,
          a {
            color: $white-color;
            text-decoration: none;
            font-weight: normal;
          }
        }
      }
    }
    .footer__right {
      .footer__contact-right {
        margin-top: 30px;
        span {
          @include txtStyle(22px, normal, $white-color);
          margin-right: 10px;
        }
        a {
          margin-right: 5px;
        }
        img {
          -webkit-filter: brightness(10);
          -webkit-transition: all 0.3s linear;
          &:hover {
            -webkit-filter: invert(65%) sepia(99%) saturate(1167%)
              hue-rotate(4deg) brightness(109%) contrast(109%);
          }
        }
      }
    }
  }
}
.footer__copy {
  background: $black-color;
  @include txtStyle(18px, normal, $span-yellow);
  padding: 10px 0;
}
