header {
  position: relative;

  .header__contact {
  }
  .header__mid {
    @include innerBackground("../img/g3.jpg", center, cover, 0.4);
    padding-bottom: 100px;
    .header__nav {
    }
    .header__form {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 70px;
      max-width: 800px;

      p {
        padding: 0 200px;
      }
      .header__form-input {
        padding: 0 200px;
        input {
          margin: 20px 0;
        }
      }
    }
    .header__box {
      max-width: 900px;
      .box-bg {
        padding: 0 5px !important;
        p {
          margin-bottom: 0;
        }
      }
      width: 75%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;

      .header__box-item {
        position: relative;
        padding: 30px 12px 10px 12px;
        border-radius: 20px;
        span.float-icon {
          position: absolute;
          top: -30px;
          left: 0;

          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
}
