section.help {
  padding-top: 100px;

  .help__title {
    margin-bottom: 60px;
    h1 {
      color: $txt-dimmer-yellow;
    }
  }
  .help__content {
    max-width: 1300px;
    width: 85%;
    margin: 0 auto;
    .help__content-container {
      .help__item {
        .help__img {
          img {
            border-radius: 30px;
            width: 100%;
            height: 320px;
            object-fit: cover;
          }
        }
        .help__txt {
          padding: 30px;
          ul > li {
            @include txtStyle(20px, normal, $black-color);
            margin: 10px 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
//------RESPONSIVE----
@include responsive("large") {
  .help__item:nth-child(2) {
    .help__txt {
      order: 2;
    }
  }
}
@include responsive("small") {
  section.help {
    .help__title {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .help__content {
      &-container {
        .help__item {
          .help__img {
            img {
              height: auto !important;
            }
          }
        }
      }
    }
  }
}
