section.number {
  @include innerBackground("../img/index/bg-2.png", center, cover, 1);

  .number__wrap {
    .number__title {
      padding-top: 80px;
      h3 {
        color: $black-color;
      }
      h1 {
        @include txtStyle(45px, normal, $black-color);
        font-family: googleSansBold, serif;
      }

      hr {
        color: $black-color;
        opacity: 0.4;
      }
    }
    .number__box {
      max-width: 1200px;
      padding-bottom: 40px;
      margin-top: 40px !important;
      .number__item {
        .number__item-num {
          display: inline-block;
          width: 160px;
          border-radius: 10px;
          background-color: $black-color;
          color: $primary-color !important;
          margin-bottom: 5px !important;
          @include txtStyle(38px, "", $num-yello);
          font-family: googleSansBold, serif;
        }
        .number__item-txt {
          @include txtStyle(20px, "", $black-color);
          line-height: 1.2;
          margin-top: 15px;
          padding: 0 40px;
        }
      }
      .number__item:last-child {
        border: none;
      }
    }
  }
}
