section.problem {
  padding-top: 100px;
  .problem__title {
    margin-bottom: 50px;
    h1 {
      color: $txt-dimmer-yellow;
    }
  }
  .problem__container {
    width: 75%;
    margin: 0 auto;
    .problem__left {
      img {
        background-size: cover;
        height: 100%;
        width: 100%;
      }
    }
    .problem__right {
      gap: 15px;
      .problem__right-item {
        padding: 5px;
        border-radius: 20px;
        .problem__right-img {
          padding: 15px;
          img {
            display: block;
            background-size: cover;
          }
        }
        .problem__right-text {
          padding: 10px 0px 10px 0px;
          h4 {
            margin-bottom: 0;
            font-size: 20px;
          }
          p {
            margin-bottom: 0;
            font-size: 16px;
          }
        }
      }
    }
  }
}
