section.questions {
  padding: 40px 0;

  .questions__title {
    h1 {
      color: $txt-yellow-heading;
    }
  }
  .questions__wrap {
    width: 70%;
    max-width: 1300px;
    margin: 0 auto;
    .questions__right {
      img {
        width: 100%;
      }
    }
  }
}
// -----RESPONSIVE------
@include responsive("small") {
  section.questions {
    .questions__title {
      width: 90%;
      margin: 0 auto;
    }
    .questions__wrap {
      margin-top: 30px;
      width: 95%;
      .questions__right {
        margin-top: 20px;
      }
    }
  }
}
@include responsive("large") {
  section.questions {
    .questions__wrap {
      .questions__right {
        margin-top: 20px;
      }
    }
  }
}
