section.video {
  max-width: 1200px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: $pink-color;

  .video__wrap {
    text-align: center;
    .video__title {
      h1 {
        color: $orange-color;
      }
    }
    .video__frame {
      margin-top: 15px;
      border-radius: 30px;
    }
    p {
      @include txtStyle(24px, normal, $black-color);
      margin-top: 25px;
      line-height: 1;
    }
  }
}
@include responsive("large-down") {
  section.video {
    .video__wrap {
      .video__title {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}
