@mixin innerBackground($src, $position, $size, $opa) {
  background-image: url($src);
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin txtStyle($fz, $fw, $color) {
  font-size: $fz;
  font-weight: $fw;
  color: $color;
}

@mixin txtColor($color) {
  color: $color;
}
