@mixin innerBackground($src, $position, $size, $opa) {
  background-image: url($src);
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin txtStyle($fz, $fw, $color) {
  font-size: $fz;
  font-weight: $fw;
  color: $color;
}

@mixin txtColor($color) {
  color: $color;
}
//responsive
@mixin responsive($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "màn hình chưa khai báo";
  }
}
