//COLOR
$primary-color: #ffc901; //Yellow
$txt-yellow: #ffde02; //Bright yellow
$txt-yellow-heading: #ffde00;
$txt-dimmer-yellow: #ffd400; //Dark yellow
$btn-yellow: #fedc00; //Button yellow  - txt (inspect)
$form-yellow: #ffed25; //Form yellow
$num-yello: #ffe600;
$icon-yellow: #ffd400; //Icon yellow
$span-yellow: #ffcc00; //Icon yellow
$black-color: #000000;
$pink-color: #fff3ea; //Pink pig color
$orange-color: #ff5a00; // Orange text
$orange-tag-color: rgba(255, 90, 0, 1); // Orange text
$orange-btn-color: rgba(255, 90, 0, 1);
$orange-title: #ff6000;
$white-color: #fff;
$white-pink: #fbfbfb;
$gray-white-bg: #fbfbfb;
//FONT
$fs-20: 20;
$fs-24: 24;
$fs-30: 30;
//Breakpoint
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
  "extra-large-down": 1199.98px,
  "large-down": 991.98px,
  "medium-down": 767.98px,
  "small-down": 575.98px,
);
